
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.dark-modes {
    
    color: #030303;
    padding: 20px;
    border: none;
    font-size: 30px;
}

button {
    border: none;
}

.dark-modes {
    color: #030303;
    padding: 20px;
    border: none;
    font-size: 30px;
}

.dark-mode {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}

#left-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    color: #fff;
}

#logo a {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

#logo a span {
    font-weight: 600;
}

/* Add CSS styles for suggestions */
#suggestions-container {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 100;
    margin-top: 6%;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f5f5f5;
}

/* Media Query for smaller screens */
@media screen and (max-width: 540px) {
    #left-menu {
        flex-direction: column;
        align-items: center;
    }

    #logo a {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #suggestions-container {
        position: static;
        max-height: none;
        border: none;
        background-color: transparent;
    }

    .suggestion-item {
        padding: 5px;
    }

    #right-menu {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 10px;
    }
}
main {
    margin: 0 5%;
}
h2{
    margin: 20px 0;
    font-size: 36px;
}
#checkout-window{
    max-width: 1100px;
    margin: 8% auto;
}
.list-total-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .list-total-wrapper {
        flex-direction: column; 
        align-items: center; 
    }
    .items-list-card {
        width: 100% !important;
        box-sizing: border-box !important;
        box-shadow: 2px 2px 4px grey;
       
        padding: 20px;
        border-radius: 6px;
        margin-bottom: 10px
      
    }
    .list{
        padding: 10px;
        width: 100% !important;
        display: flex;
        flex-direction: column;
    }
    .amount-div{
       
        width: 100% !important;
        height: 200px;
        box-shadow: 2px 2px 4px grey;
        border-radius: 6px;
        padding: 10px !important;
        box-sizing: border-box;
    }
    .Total-items{
        margin-bottom: 10px !important;
        margin-left: 30px !important;
        margin-top: 10px !important;
    }
    .checkout{
        margin-top: 30% !important;
        margin-left: 30px !important;
        text-align: center;
    }
}
.list{
    width: 48%;
    display: flex;
    flex-direction: column;
}
.items-list-card {
    box-sizing: border-box;
    box-shadow: 2px 2px 4px grey;
    display: flex;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 10px
}
.image-section{
    width: 80px;
    height: 100%;
    margin-right: 20px;
}
.image-section img{
    width: 100%;
}

.amount-div{
    width: 50%;
    height: 200px;
    box-shadow: 2px 2px 4px grey;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
}
.Total-items{
    margin-bottom: 10px;
}
.quantity{
    margin: 10px 0;
}
.total-amount{
    font-size: 26px;
    margin-bottom: 15px;
}

.place-order{
    margin-top: 40px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    background-color: #009688;
    font-weight: 600;
    letter-spacing: 2px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,50%);
}
.delete-order{
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    background-color: red;
    font-weight: 600;
    letter-spacing: 2px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,50%);
}
